/**
 * @file
 * Views Styling
 */

@import "../less-framework/base.less";

.views-view-grid {
  td {
    alignc;
    vertical-align: top;
  }
}

.view-clone-of-front-page {
  .views-row {
    width: 370px;
    left;
  }

  .node-teaser {
    height: 540px;
  }
}